@import url('https://fonts.googleapis.com/css?family=Assistant:200,300,400,600,700,800&display=swap&subset=hebrew');
$body-font-family: 'Assistant', sans-serif; 
@import '~vuetify/src/styles/styles.sass';
.font-weight-semibold {
    font-weight: 600 !important;
}
.whitespace-preline {
    white-space: pre-line
}