@import url("https://fonts.googleapis.com/css?family=Assistant:200,300,400,600,700,800&display=swap&subset=hebrew");
$body-font-family: "Assistant", sans-serif;
@import "~vuetify/src/styles/styles.sass";
.font-weight-semibold {
  font-weight: 600 !important;
}
.whitespace-preline {
  white-space: pre-line;
}
.cursor-pointer {
  cursor: pointer;
}
.screen-reader-input {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
.s-circle {
  border-radius: 50%;
}