@import url("https://fonts.googleapis.com/css?family=Assistant:200,300,400,600,700,800&display=swap&subset=hebrew");
$body-font-family: "Assistant", sans-serif;
@import "~vuetify/src/styles/styles.sass";
.font-weight-semibold {
  font-weight: 600 !important;
}

.whitespace-preline {
  white-space: pre-line;
}

.screen-reader-input {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.b-radius-50 {
  border-radius: 50% !important;
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

.t-3 {
  top: 12px !important;
}

.l-3 {
  left: 12px !important;
}

.p-relative {
  position: relative !important;
}